.hoverable-card {
    transition: transform 0.3s ease;
}

.hoverable-card:hover {
    transform: scale(1.02);
}

.ant-card .ant-card-body {
    /* padding-left: 30px; */
    padding-top: 0;
    border-radius: 0 0 8px 8px;
}

.text-secondary {
    line-height: 1;
}

.line-height {
    line-height: 1.4;
}

.ant-divider-horizontal {
    margin: 12px 0;
}