.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
}

.ant-anchor-wrapper-horizontal .ant-anchor .ant-anchor-ink {
  display: none;
}

.ant-anchor-wrapper .ant-anchor .ant-anchor-link-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  display: block;
  margin-block-end: 3px;
  color: rgba(0, 0, 0, 0.88);
  transition: all 0.3s;
  text-decoration: none;
  background-color: #F0F0F0;
  padding: 3px 12px 3px 12px;
  border-width: 2px 4px;
  border-radius: 40px;
  font-size: 16px;
}

.ant-anchor-wrapper .ant-anchor .ant-anchor-link-active>.ant-anchor-link-title {
  color: #fff;
  background-color: #006f4c;
  padding: 3px 12px 3px 12px;
  border-width: 2px 4px;
  border-radius: 40px;
}

.anchor {
  background-color: transparent;
  transition: box-shadow 0.3s ease;
}

.anchor-affixed {
  background-color: #fff; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.pitsa-item {
  margin-left: 380px;
}

.anchor-button {
  align-items: end;
  margin-left: 470px;
}